<div class="collapse navbar-collapse mx-4" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <!-- HOME Dropdown Card -->
      <li class="nav-item dropdown px-lg-4">
        <a class="nav-link text-uppercase" id="homeDropdown"> HOME </a>
        <div class="dropdown-menu dropdown-card" aria-labelledby="homeDropdown">
          <div class="card p-3">
            <a class="dropdown-item" href="#">Feature 1</a>
            <a class="dropdown-item" href="#">Feature 2</a>
            <a class="dropdown-item" href="#">Feature 3</a>
            <a class="dropdown-item" href="#">Feature 4</a>
            <a class="dropdown-item" href="#">Feature 1</a>
            <a class="dropdown-item" href="#">Feature 2</a>
            <a class="dropdown-item" href="#">Feature 3</a>
            <a class="dropdown-item" href="#">Feature 4</a>
          </div>
        </div>
      </li>
      <!-- PRODUCTS Dropdown Card -->
      <li class="nav-item dropdown px-lg-4">
        <a class="nav-link text-uppercase" id="productDropdown"role="button">
          PRODUCTS
        </a>
        <div class="dropdown-menu dropdown-card" aria-labelledby="productDropdown">
          <div class="card p-3">
            <a class="dropdown-item" href="#">Feature 1</a>
            <a class="dropdown-item" href="#">Feature 2</a>
            <a class="dropdown-item" href="#">Feature 3</a>
            <a class="dropdown-item" href="#">Feature 5</a>
          </div>
        </div>
      </li>
      <!-- About Dropdown Card -->
      <li class="nav-item dropdown px-lg-4">
        <a class="nav-link text-uppercase" id="aboutDropdown" role="button">
          ABOUT
        </a>
        <div class="dropdown-menu dropdown-card" aria-labelledby="aboutDropdown">
          <div class="card p-3">
            <a class="dropdown-item" href="#">Our Story</a>
            <a class="dropdown-item" href="#">Team</a>
            <a class="dropdown-item" href="#">Careers</a>
          </div>
        </div>
      </li>
      <!-- store Dropdown Card -->
      <li class="nav-item dropdown px-lg-4">
        <a class="nav-link text-uppercase" id="storeDropdown"role="button">
          STORE
        </a>
        <div class="dropdown-menu dropdown-card" aria-labelledby="storeDropdown" >
          <div class="card p-3">
            <a class="dropdown-item" href="#">Our Story</a>
            <a class="dropdown-item" href="#">Team</a>
            <a class="dropdown-item" href="#">Careers</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>
